# Core functionality - changes here should be rare!
/src/app.py                   @thomsjoh
/src/backend/database.py      @thomsjoh
/src/backend/routers/auth.py  @thomsjoh

# The frontend will need refactored soon to be more object oriented.
/src/static/   @thomsjoh
